//  변수 선언하기

// BG
$bg-color1: #f2f2f2;
$bg-color2: #e2e2e2;

// Font Color
$color1: #2d2d2d;
$color2: #fff;
$color3: #000;

// Font Size
$fz1: 14px;
$fz2: 16px;
$fz3: 18px;
$fz4: 25px;
$fz5: 35px;

// Font Family
$ff1: 'Nanum Gothic', sans-serif;
$ff2: 'Noto Sans KR', sans-serif;
$ff3: 'Roboto', sans-serif;
$ff4: 'Open Sans', sans-serif;
$ff5: 'Lato', sans-serif;

// Margin
$m10: 10px;
$m20: 20px;
$m30: 30px;
$m40: 40px;
$m50: 50px;
$mt10: 10px;
$mt20: 20px;
$mt30: 30px;
$mt40: 40px;
$mt50: 50px;
$mb10: 10px;
$mb20: 20px;
$mb30: 30px;
$mb40: 40px;
$mb50: 50px;
$ma: 0 auto;

// Padding
$p10: 10px;
$p20: 20px;
$p30: 30px;
$p40: 40px;
$p50: 50px;
$pt10: 10px;
$pt20: 20px;
$pt30: 30px;
$pt40: 40px;
$pt50: 50px;
$pb10: 10px;
$pb20: 20px;
$pb30: 30px;
$pb40: 40px;
$pb50: 50px;
$pa: 0 auto;